<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.board.mapper.BoardMapper">

	<!-- 전체조회 -->
	<select id="selectBoardList" resultType="BoardVO">
		SELECT bno
				, title
				, contents
				, writer
				, regdate
				, updatedate
				, image
		FROM board
		ORDER BY bno
	</select>
	
	<!-- 단건조회 -->
	<select id="selectBoard" resultType="BoardVO">
		SELECT bno
				, title
				, contents
				, writer
				, regdate
				, updatedate
				, image
		FROM board
		WHERE bno = #{bno}
	</select>
	<!-- primary key가 2개면 둘다 조건을 걸어주어야함. -->
	
	<!-- 등록 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="bno"
				   resultType="int"
				   order="BEFORE">
			SELECT NVL(MAX(bno),1000) + 1
			FROM board		   
		</selectKey>
		INSERT INTO
			(
				bno
				, title
				, contents
				, writer
				, image
			)
		VALUES
			(
				#{bno}
				, #{title}
				, #{contents}
				, #{writer}
				, #{image}
			)
	</insert>
	
	<!-- 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE board
			SET
				title = #{title}
				, contents = #{contents}
				, writer = #{writer}
				, updatedate = sysdate
				, image = #{image}
			WHERE bno = #{bno}
	</update>
	
	<!-- 삭제 -->
	<!-- parameterType이 2개일 경우 생략해도 됨, controller에서 @Param이 처리 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE bno = #{bno}
	</delete>
	<!-- 매개변수가 하나밖에 없으니 mapper.java와 이름이 미스매치되더라도 값이 들어감. -->
</mapper>